@import '../styles/list';

:host {
  display: block;

  .flex {
    display: flex;
    align-content: center;
    justify-content: space-between;

    small {
      font-size: .8rem;
      line-height: 1rem;
    }
  }

  h3 {
    display: inline-block;
    font-size: .875rem;
    margin: 0;
  }

  @include list();
}
