language: node_js
node_js:
  - "10.7"

branches:
  only:
    - master

cache:
  directories:
     - node_modules

sudo: required
dist: trusty
addons:
  chrome: stable

install:
  - npm ci

before_script:
  - npm run lint:ci
  - npm run test:ci
  - npm run e2e

script:
  - npm run build

deploy:
  - provider: firebase
    skip_cleanup: true
    token: $FIREBASE_TOKEN # Set in travis-ci.org dashboard

notifications:
  email:
    on_failure: change
    on_success: change
