@import '../styles/color';
@import '../styles/shadow';

:host {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);

  display: inline-flex;
  border-radius: 24px;
  padding: 7px 12px;
  margin: 4px;
  align-items: center;
  cursor: default;

  position: relative;
  overflow: hidden;

  font-size: 13px;
  line-height: 18px;

  @include attr-bg-color();
  @include shadow-transition();

  &[active] {
    @include shadow-only();
  }
}
