:host {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  max-width: 210mm;
  overflow: hidden;
  padding: 2rem;

  @media print {
    max-height: 297mm;
    padding: 4px;
  }

  alr-title {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
  }

  aside {
    $width: 40%;
    flex: 0 0 $width;
    max-width: $width;
    margin-left: 1rem;

    * + * {
      margin-top: 1rem;
    }
  }
}
