:host {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  max-height: 297mm;
  max-width: 210mm;
  padding: 1rem;

  alr-title {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 1rem;
  }

  aside {
    flex: 0 0 40%;
    margin-left: 1rem;

    * + * {
      margin-top: 1rem;
    }
  }
}
