@mixin bg-primary() {
  background-color: var(--primary);
  color: var(--on-primary);
}
@mixin color-primary() {
  color: var(--primary);
}
@mixin bg-accent() {
  background-color: var(--accent);
  color: var(--on-accent);
}
@mixin color-accent() {
  color: var(--accent);
}
@mixin bg-warn() {
  background-color: var(--warn);
  color: var(--on-warn);
}
@mixin color-warn() {
  color: var(--warn);
}
@mixin attr-color() {
  &[color="primary"] {
    @include color-primary();
  }
  &[color="accent"] {
    @include color-accent();
  }
  &[color="warn"] {
    @include color-warn();
  }
}
@mixin attr-bg-color() {
  &[color="primary"] {
    @include bg-primary();
  }
  &[color="accent"] {
    @include bg-accent();
  }
  &[color="warn"] {
    @include bg-warn();
  }
}
