<alr-card>
  <alr-title color="primary">Skills</alr-title>

  <h4>Languages</h4>
  <section>
    <alr-chip>TypeScript</alr-chip>
    <alr-chip>JavaScript</alr-chip>
    <alr-chip>HTML</alr-chip>
    <alr-chip>CSS</alr-chip>
    <alr-chip>Sass</alr-chip>
    <alr-chip>GraphQL</alr-chip>
    <alr-chip>C#</alr-chip>
    <alr-chip>SQL</alr-chip>
  </section>

  <h4>Frameworks</h4>
  <section>
    <alr-chip>React</alr-chip>
    <alr-chip>Astro</alr-chip>
    <alr-chip>Next.js</alr-chip>
    <alr-chip>Solid</alr-chip>
    <alr-chip>Angular</alr-chip>
    <alr-chip>AngularJS</alr-chip>
    <alr-chip>.NET</alr-chip>
  </section>

  <h4>Tests</h4>
  <section>
    <alr-chip>Vitest</alr-chip>
    <alr-chip>Jest</alr-chip>
    <alr-chip>Playwright</alr-chip>
    <alr-chip>Storybook</alr-chip>
    <alr-chip>Chromatic</alr-chip>
    <alr-chip>Cypress</alr-chip>
  </section>

  <h4>Tools</h4>
  <section>
    <alr-chip>Git</alr-chip>
    <alr-chip>Node.js</alr-chip>
    <alr-chip>Bun</alr-chip>
    <alr-chip>Deno</alr-chip>
    <alr-chip>PostgreSQL</alr-chip>
    <alr-chip>Redis</alr-chip>
  </section>

  <h4>Builders</h4>
  <section>
    <alr-chip>Vite</alr-chip>
    <alr-chip>swc</alr-chip>
    <alr-chip>esbuild</alr-chip>
    <alr-chip>Webpack</alr-chip>
  </section>

  <h4>Libraries</h4>
  <section>
    <alr-chip>vanilla-extract</alr-chip>
    <alr-chip>Redux</alr-chip>
    <alr-chip>RxJS</alr-chip>
    <alr-chip>jQuery</alr-chip>
  </section>

  <h4>Design</h4>
  <section>
    <alr-chip>in-house design systems</alr-chip>
    <alr-chip>Material Design</alr-chip>
    <alr-chip>Bootstrap</alr-chip>
  </section>

  <h4>Platforms</h4>
  <section>
    <alr-chip>GitHub</alr-chip>
    <alr-chip>GitLab</alr-chip>
    <alr-chip>AWS</alr-chip>
    <alr-chip>Azure</alr-chip>
    <alr-chip>Firebase</alr-chip>
    <alr-chip>Vercel</alr-chip>
    <alr-chip>Netlify</alr-chip>
    <alr-chip>Render</alr-chip>
  </section>

  <h4>Process</h4>
  <section>
    <alr-chip>Pair programming</alr-chip>
    <alr-chip>Agile</alr-chip>
    <alr-chip>Scrum</alr-chip>
    <alr-chip>DevOps</alr-chip>
    <alr-chip>TDD</alr-chip>
    <alr-chip>REST</alr-chip>
  </section>
</alr-card>
