@import '../../styles/shadow';

:host {
  background-color: var(--bg);
  color: var(--on-bg);

  display: block;
  border-radius: 2px;
  padding: 24px;

  position: relative;
  overflow: hidden;

  @include shadow();

  ::slotted(alr-title) {
    text-align: center;
  }
}
