@import '../../styles/box-sizing';
@import '../../styles/color';

:host {
  display: block;
  text-align: right;

  @include border-box();

  div {
    margin: 0.25rem 0;

    &,
    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    a {
      color: $black;
      text-decoration: none;

      span {
        position: relative;

        &:before {
          content: '';
          background-color: var(--primary-light);
          opacity: 0.87;
          height: 2px;
          position: absolute;
          bottom: -3px;
          left: 100%;
          right: 0;

          transition: left 0.3s ease-out;
        }
      }

      &:hover span:before {
        left: 0;
      }
    }
  }

  alr-mat-icon,
  alr-github,
  alr-linkedin {
    font-size: 32px;
    margin-left: 8px;
    position: relative;
  }
}
