@import './styles/color';
@import './styles/box-sizing';
@import './styles/shadow';

body {
  --primary: #303f9f;
  --primary-light: #666ad1;
  --primary-dark: #001970;
  --accent: #00838f;
  --accent-light: #4fb3bf;
  --accent-dark: #005662;
  --warn: #d32f2f;

  --on-primary: rgba(255, 255, 255, .87);
  --on-primary-medium: rgba(255, 255, 255, .6);
  --on-primary-disabled: rgba(255, 255, 255, .38);
  --on-accent: rgba(255, 255, 255, .87);
  --on-accent-medium: rgba(255, 255, 255, .6);
  --on-accent-disabled: rgba(255, 255, 255, .38);
  --on-warn: rgba(255, 255, 255, .87);

  @include border-box();

  background-color: $background;
  font: {
    family: Raleway, sans-serif;
    size: 14px;
  }
  margin: 0;

  @media screen {
    background-image: linear-gradient(180deg, var(--primary) 0%, var(--primary-light) 30%, $background 30%);
  }
}
